html{
    background-image: url("molecules.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin: auto;
}
body{
    background-color: rgba(201, 201, 201, .6);
    width: 40%;
    margin:auto;
    min-height: 50vh;
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
}
h2{
    display: block;
    margin: 10px;
    text-align: center;
    margin: auto;
}
a{
    margin: 20px;
    color: black;
    display: inline;
}
h1{
    text-align: center;
    
}
